.app {
  width: 80vw;
  height: 95vh;
  display: flex;
  justify-content: end;
  overflow-wrap: break-word;
  flex-direction: column;
}

.app p:not(.no-words) {
  font-weight: 600;
  white-space: pre-wrap;
  padding: 20px 20px;
  background-color: white;
  color: black;
  text-align: left;
  border-radius: 5px;
  width: max-content;
  max-width: 40%; 
  position: relative;
  z-index: 999;
  margin-bottom: 20px;
  margin-left: 10px;
  display: inline-block;
  font-size: 1.3rem;
}

.app p.no-words {
  padding: 5px 20px;
  width: max-content;
  background-color: white;
  border-radius: 5px;
  position: relative;
  z-index: 999;
  margin-bottom: 20px;
  margin-left: 10px;
  display: inline-block;
}

.app p.sub-enter {
  margin-bottom: 0;
  transition: transform .6s ease-in-out;
}

.app p.sub-enter.hidden {
  transform: translateX(-300%);
}
